// The #linechart id will be used to get a reference to the native element. The components size, colors and other attributes can be controlled with CSS.
//The default component styles are defined linechart.component.scss:
.d3-multi-line-chart {
  width: 100%;
  height: 400px;
}

.d3-multi-line-chart .axis path,
.d3-multi-line-chart .axis line {
  stroke: #999;
}

.d3-multi-line-chart .axis text {
  fill: #999;
}
